@font-face {
    font-family: Samim;
    src: url('/client/src/assets/fonts/samim-v4.0.5/Samim.eot');
    src: url('/client/src/assets/fonts/samim-v4.0.5/Samim.eot?#iefix') format('embedded-opentype'),
    url('/client/src/assets/fonts/samim-v4.0.5/Samim.woff2') format('woff2'),
    url('/client/src/assets/fonts/samim-v4.0.5/Samim.woff') format('woff'),
    url('/client/src/assets/fonts/samim-v4.0.5/Samim.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: Samim;
    src: url('/client/src/assets/fonts/samim-v4.0.5/Samim-Bold.eot');
    src: url('/client/src/assets/fonts/samim-v4.0.5/Samim-Bold.eot?#iefix') format('embedded-opentype'),
    url('/client/src/assets/fonts/samim-v4.0.5/Samim-Bold.woff2') format('woff2'),
    url('/client/src/assets/fonts/samim-v4.0.5/Samim-Bold.woff') format('woff'),
    url('/client/src/assets/fonts/samim-v4.0.5/Samim-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: Samim;
    src: url('/client/src/assets/fonts/samim-v4.0.5/Samim-Medium.eot');
    src: url('/client/src/assets/fonts/samim-v4.0.5/Samim-Medium.eot?#iefix') format('embedded-opentype'),
    url('/client/src/assets/fonts/samim-v4.0.5/Samim-Medium.woff2') format('woff2'),
    url('/client/src/assets/fonts/samim-v4.0.5/Samim-Medium.woff') format('woff'),
    url('/client/src/assets/fonts/samim-v4.0.5/Samim-Medium.ttf') format('truetype');
    font-weight: 500;
}
